astroid==2.2.5
autopep8==1.4.4
bleach==3.1.0
certifi==2019.6.16
chardet==3.0.4
colorama==0.4.1
docutils==0.15.2
future==0.17.1
idna==2.8
importlib-metadata==0.19
isort==4.3.21
jedi==0.14.1
keyboard==0.13.3
lazy-object-proxy==1.4.2
mccabe==0.6.1
more-itertools==7.2.0
MouseInfo==0.0.4
parso==0.5.1
Pillow==6.1.0
pkginfo==1.5.0.1
pluggy==0.12.0
PyAutoGUI==0.9.47
pybattery==0.3.6
pycodestyle==2.5.0
pydocstyle==4.0.1
pyfiglet==0.8.post1
pyflakes==2.1.1
PyGetWindow==0.0.7
Pygments==2.4.2
pylint==2.3.1
PyMsgBox==1.0.7
pyperclip==1.7.0
pypiwin32==223
PyRect==0.1.4
PyScreeze==0.1.22
python-jsonrpc-server==0.2.0
python-language-server==0.28.2
PyTweening==1.0.3
pywin32==224
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
rope==0.14.0
six==1.12.0
snowballstemmer==1.9.0
tqdm==4.35.0
twine==1.13.0
typed-ast==1.4.0
urllib3==1.25.3
virtualenv==16.7.4
virtualenvwrapper-win==1.2.5
webencodings==0.5.1
wrapt==1.11.2
yapf==0.28.0
zipp==0.6.0
